<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GymManagerBlazor.PL</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <!-- New Navigation Items -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="classes">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Classes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registrations">
                <span class="bi bi-file-earmark-text-nav-menu" aria-hidden="true"></span> Class Registrations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="members">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Members
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainers">
                <span class="bi bi-person-badge-fill-nav-menu" aria-hidden="true"></span> Trainers
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
